# Ethereum Mainnet RPC/Node/Provider url
ETHEREUM_RPC_URL=""

# Ethereum Mainnet RPC/Node/Provider url for fork
ETHEREUM_FORK_RPC_URL=""

# A block to fork from. Required to run tests.
ETHEREUM_FORK_BLOCK_NUMBER=""

# The deployer private key. Required for deployment
PRIVATE_KEY=""
